{{> head }}


    
    {{> navbar }}


    <div class="row">
        <div class="col-8">
            <h1>Capitan America</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla excepturi possimus quas aut ut et quidem ipsum hic repellat exercitationem minima eum tenetur sequi explicabo facere, pariatur commodi fuga dolor.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/capitan-america.jpeg" alt="img-thumbnail">
        </div>
    </div>

{{> footer }}